<div class="flex-1">
    <div class="btn-group">
        <button class="btn btn-link btn-sm disabled" type="button" href="" data-ng-click="" data-placement="top" title="Share" konko-tooltip>&#10162;</button>
    </div>
    <div class="btn-group" data-ng-if="vm.user && vm.user.verified">
        <button class="btn btn-link btn-sm disabled" type="button" href="" data-ng-click="" data-placement="top" title="Bookmark" konko-tooltip>&#9734;</button>
        <button class="btn btn-link btn-sm" type="button" href="" data-ng-click="quote()" data-placement="top" title="Quote" konko-tooltip>&#8220;</button>
        <button class="btn btn-link btn-sm disabled" type="button" href="" data-ng-click="" data-placement="top" title="Flag" konko-tooltip>&#9873;</button>
    </div>
</div>
