<div ng-cloak>
  <breadcrumb parent-name="{{ vm.topic.title }}" parent-state="topic.view" parent-params='{"topicId" : "{{ vm.topic._id }}"}' current-name="Edit"></breadcrumb>
  <form id="editTopicForm" name="editTopicForm" role="form" data-ng-submit="vm.save(editTopicForm.$valid)">
    <konko-editor title-model="vm.topic.title" content-model="vm.topic.content" title-pattern="vm.topicTitlePattern" title-title="vm.topicTitlePatternTitle" content-max="vm.core.post.comment.content.max">
      <konko-alert alert="vm.alert" data-ng-if="vm.alert"></konko-alert>
    </konko-editor>
  </form>
</div>
