doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
        title= subject
    body
        h1 Welcome!
        p: a(href='#{doc.url}' )= doc.url
    
