section(class='footer', data-ng-controller='NavbarController as vm', ng-cloak)
  small(class='pull-xs-left')
    .footer-nav
      ul(class='nav nav-inline')
        a(class='nav-link' href='https://github.com/konko-project/konko') GitHub
        a(class='nav-link' href='/tos#terms') Terms
        a(class='nav-link' href='/tos#privacy') Privacy
    div 
      | &#169; 2016 
      a(href='/') {{vm.core.basic.title}} 
      | All Rights Reserved.
    div
      | Powered by 
      a(href='https://github.com/konko-project/konko') Konko
      
