doctype html
html
    head
        include ./head.jade
    body
        include ./navbar.jade
        block view
            .container-fluid
        each file in js
            script(src="#{file}")
        
