@import '../globals/mixins';
@import '../globals/constants';

[konko-post] {
  span {
    font-size: 1rem;
    color: @globalAnchorColor;
    white-space: normal;
  }
  blockquote {

  }
  img {
    max-width: 100%;
    height: auto;
  }
}
