doctype html
html
    head
        include ./head.pug
    body
        include ./navbar.pug
        block view
            .container-fluid
        each file in js
            script(src= file)
        include ./footer.pug
