doctype html
html
    head
        include ./jade/head.jade
    body
      .container-fluid
          .row
              div(class=['col-md-12', 'view'], ui-view, at-bottom)
        each file in js
            script(src="#{file}")
