<div class="profile-container" data-ng-class="{pushed:vm.showSideBar}">
    <div class="p-c-inner">
        <div class="p-t-3">
            <form class="profile-edit-form" id="profileEditForm" name="profileEditForm" role="form" data-ng-submit="vm.update(profileEditForm.$valid)">
                <div class="input-group">
                    <span class="input-group-addon" id="username">&Kappa;</span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="username" data-ng-model="vm.profile.username">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="dob">&#x1f382;</span>
                    <input type="date" class="form-control" aria-describedby="Date of Birth" data-ng-model="vm.profile.dob">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="gender">&male;</span>
                    <select class="c-select form-control" aria-describedby="Gender" data-ng-model="vm.profile.gender">
                        <option data-ng-repeat="option in vm.getGenderList() track by $index" value="{{option}}" data-ng-bind-html="vm.getGenderDisplay(option)"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-large btn-primary btn-block">Update</button>
            </form>
        </div>
    </div>
</div>
