<div class="profile-container" data-ng-class="{pushed:vm.showSideBar}">
  <div class="p-c-inner">
    <div class="p-t-3">
      <konko-alert alert="vm.alert" data-ng-if="vm.alert"></konko-alert>
      <form class="profile-edit-form" id="profileEditForm" name="profileEditForm" role="form" data-ng-submit="vm.updateProfile(profileEditForm.$valid)">
        <div class="form-group row">
          <label for="user__profile__username" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="user__profile__username" data-ng-model="vm.profile.username" placeholder="Your username.." required>
          </div>
        </div>
        <div class="form-group row">
          <label for="user__profile__tagline" class="col-sm-2 col-form-label">Tagline</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="user__profile__tagline" data-ng-model="vm.profile.tagline" placeholder="Describe yourself..">
          </div>
        </div>
        <div class="form-group row">
          <label for="user__profile__dob" class="col-sm-2 col-form-label">Birthday</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="user__profile__dob" aria-describedby="Date of Birth" data-ng-model="vm.profile.dob">
          </div>
        </div>
        <div class="form-group row">
          <label for="user__profile__gender" class="col-sm-2 col-form-label">Gender</label>
          <div class="col-sm-10">
            <select class="custom-select form-control" id="user__profile__gender" aria-describedby="Gender" data-ng-model="vm.profile.gender">
              <option data-ng-repeat="option in vm.getGenderList()" value="{{option}}" data-ng-bind-html="vm.getGenderDisplay(option)"></option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="user__profile__ttl" class="col-sm-2 col-form-label">Token Time</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="user__profile__ttl" data-ng-model="vm.profile.tokenLive" placeholder="Expiration time in second or string describing a time. E.g. 60, '12h', '2 days', '7d'">
          </div>
        </div>
        <button type="submit" class="btn btn-large btn-primary btn-block">Update</button>
      </form>
    </div>
  </div>
</div>
