<div class="profile-container" data-ng-class="{pushed:vm.showSideBar}">
  <div class="p-c-inner">
    <div class="p-banner ratio16_9">
      <img data-ng-src="{{vm.profile.banner}}" alt="{{vm.profile.username}} banner">
      <div class="p-b-edit text-xs-center" data-ng-if="vm.isMe()">
        <a role="button" data-toggle="modal" data-target="#changeProfileImage" data-ng-click="vm.setProfileImageType('banner')">Change Banner</a>
      </div>
    </div>
    <div class="p-a img-circle img-center text-xs-center">
      <img data-ng-src="{{vm.profile.avatar}}" alt="{{vm.profile.username}}" title="{{vm.profile.username}}">
      <div data-ng-if="vm.isMe()">
        <a role="button" data-toggle="modal" data-target="#changeProfileImage" data-ng-click="vm.setProfileImageType('avatar')">Change Avatar</a>
      </div>
    </div>
    <div class="text-xs-center p-u">
      <div class="p-username">
        <span class="p-birth" data-ng-if="vm.isBirthday()" title="Happy Birthday!" data-placement="bottom" konko-tooltip>&#127874;</span>
        {{vm.profile.username}}
        <span class="p-gender" data-ng-bind-html="vm.getGenderDisplay(vm.profile.gender)" title="{{vm.profile.gender}}" data-placement="bottom" konko-tooltip></span>
      </div>
      <span>{{vm.profile.tagline}}</span><br />
      <span>Member since </span><span class="p-since" title="{{vm.user.joined | date : 'medium' }}" data-placement="bottom" konko-tooltip>{{vm.user.joined | date : 'yyyy'}}</span>
    </div>
    <div class="profile-t p-t-1">
      <div class="card card-block" data-ng-repeat="topic in vm.topics | orderBy: '-date'">
        <div class="card-title">
          <div class="row p-t-info">
            <div class="pull-xs-left">
              <img data-ng-src="{{topic.author.profile.avatar}}" alt="{{topic.author.profile.username}}">
            </div>
            <div class="p-t-title text-truncate col-xs-8">
              <a ui-sref="topic.view({topicId: topic._id})">{{topic.title}}</a>
              &nbsp;&#x2af6;&nbsp;
              <a ui-sref="panel.view({panelId: topic.panel._id})">{{topic.panel.name}}</a>
            </div>
            <div class="col-xs-4">
              <span>{{topic.date | date : 'short'}}</span>
            </div>
          </div>
        </div>
        <div class="b-b-1-d">
          <p class="card-text text-truncate" content="topic.content" konko-post></p>
        </div>
        <div class="p-y-1">
          <div class="pull-xs-right">Views&nbsp;:&nbsp;<span class="p-r-1">{{topic.views}}</span>Replies&nbsp;:&nbsp;<span>{{topic.replies}}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changeProfileImage" tabindex="-1" role="dialog" aria-labelledby="change profile images modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Change {{_.capitalize(vm.profileImageType)}}</h4>
      </div>
      <div class="modal-body">
        <div class="btn-group" data-toggle="buttons">
          <button class="btn btn-secondary" data-ng-class="{ active: vm.profileImageMethod === 'url' }" data-ng-click="vm.profileImageMethod = 'url'">Link</button>
          <button class="btn btn-secondary" data-ng-class="{ active: vm.profileImageMethod === 'upload' }" data-ng-click="vm.profileImageMethod = 'upload'" >File</button>
        </div>
        <div class="p-i-m">
          <konko-uploader data-ng-if="vm.profileImageMethod === 'upload'" data-ng-model="vm.profileImage" accept="image/*"></konko-uploader>
          <div data-ng-if="vm.profileImageMethod === 'url'">
            <input type="text" class="form-control" id="user__profile__image" data-ng-model="vm.profileImageUrl" placeholder="{{_.capitalize(vm.profileImageType)}} url">
          </div>
        </div>
        <div class="p-i-p text-xs-center m-t-1">
          <canvas id="user__profile__image__preview" width="562" height="400" method="{{vm.profileImageMethod}}" file="vm.profileImage" src="vm.profileImageUrl" konko-previewer></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" data-ng-click="vm.updateProfileImage()">{{vm.profileImageMethod === 'upload' ? 'Upload' : 'Change'}}</button>
      </div>
    </div>
  </div>
</div>
