<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Welcome!</h1>
        <p class="lead">Thank you for signing up. A verification email has been sent you. Please verify you email within <strong>12</strong> hours.</p>
        <p>You temporary username is <strong>{{vm.user.profile.username}}</strong>.</p>
        <p>Username can be changed in profile setting.</p>
        <p class="text-xs-center"><span>Redirecting to last visited page in : {{countdown}}</span></p>
    </div>
</div>
