<h1>Carousel Settings</h1>
<konko-alert alert="vm.alert" data-ng-if="vm.alert"></konko-alert>
<form id="coreCarouselUpdateForm" name="coreCarouselUpdateForm" role="form" data-ng-submit="vm.updateCarousel(coreCarouselUpdateForm.$valid)" autocomplete="off">
  <div class="form-group">
    <div data-ng-class="{'p-t-1': !$first}" data-ng-repeat="slide in vm.slides | orderBy: 'order'">
      <div data-ng-include="'coreSlideTemplate.html'"></div>
    </div>
    <div class="p-t-1">
      <button type="button" class="btn btn-large btn-info btn-block" data-ng-click="vm.newSlide()">New Slide</button>
    </div>
  </div>
</form>

<script type="text/ng-template" id="coreSlideTemplate.html">
  <div class="row admin-slide">
    <div class="input-group col-xs-12 a-c-info">
      <span class="input-group-addon" id="{{slide._id}}__title__addon">Title</span>
      <input type="text" class="form-control" id="core__slide__{{slide._id}}__title" data-ng-model="slide.title" placeholder="Slide title" aria-describedby="{{slide._id}}__title__addon" required>
      <span class="input-group-addon b-x-0" id="{{slide._id}}__url__addon">Url</span>
      <input type="text" class="form-control" id="core__slide__{{slide._id}}__url" data-ng-model="slide.url" placeholder="Slide link url" aria-describedby="{{slide._id}}__url__addon" required>
      <span class="input-group-addon b-x-0" id="{{slide._id}}__order__addon">Order</span>
      <input type="number" min="0" class="form-control" id="core__slide__{{slide._id}}__order" data-ng-model="slide.order" placeholder="Slide order" aria-describedby="{{slide._id}}__order__addon">
    </div>
    <div class="input-group col-xs-12 a-c-desc">
      <span class="input-group-addon" id="{{slide._id}}__description__addon">Description</span>
      <input type="text" class="form-control" id="core__slide__{{slide._id}}__description" data-ng-model="slide.description" placeholder="Slide description" aria-describedby="{{slide._id}}__description__addon">
      <span class="input-group-btn" id="{{slide._id}}__remove__addon">
        <button type="button" class="btn btn-outline-danger s-remove" data-ng-click="vm.removeSlide(slide)" data-ng-attr-title="{{vm.slideCrossButtonTitle(slide)}}">&cross;</button>
      </span>
      <span class="input-group-btn" id="{{slide._id}}__update__addon">
        <button type="button" class="btn btn-outline-success" data-ng-click="vm.updateSlide(slide)" data-ng-attr-title="{{vm.slideCheckButtonTitle(slide)}}">&check;</button>
      </span>
    </div>
    <div class="input-group col-xs-12 a-c-img">
      <span class="input-group-addon" id="{{slide._id}}__image__addon">Image</span>
      <input type="text" class="form-control" id="core__slide__{{slide._id}}__image" data-ng-model="slide.image" placeholder="Slide image url" aria-describedby="{{slide._id}}__image__addon" required>
      <span class="input-group-addon b-x-0" id="{{slide._id}}__image_alt__addon">Alt</span>
      <input type="text" class="form-control" id="core__slide__{{slide._id}}__image_alt" data-ng-model="slide.alt" placeholder="Slide image alt" aria-describedby="{{slide._id}}__image_alt__addon">
    </div>
  </div>
</script>
